.nav-item-2 {
    color: #000000;
    border: solid 1px black;
    align-items: end;
    margin-right: 3px;
   
}

.nav-item-3{
    color: #000000;
}


.navbar-collapse {
    text-align: center;
    justify-content: end;
    align-items: flex-end;

}

.bg-light-2 {
    background-color: #93ff07a9;
    color: #ffffff;
}

.w-100 {
    margin-top: -15%;
}

.cards-inicio {
    display: flex;



}

.cards-inicio div {

    margin: 1%;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.cards-inicio div a img {
    width: 80% !important;
    height: 80% !important;
    border-radius: 8%;

}

.cards-promo {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e97878;



}

.cards-promo img {
    width: 80%;
    height: 80%;
    border-radius: 10%;
}

footer {
    text-align: center;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    padding: 1%;
    color: #ffffff;
    width: 100%;



}

footer ul {
    list-style: none;

}

footer a {
    color: #ffffff;
    text-decoration: none;
}



.RedesSociais img {

    width: 2%;
    height: 2%;




}

.RedesSociais img:hover {
    opacity: 50%;

}

.footer ul {

    display: flex;
    justify-content: center;
    text-align: center;
}

.footer li {
    margin: 1%;
}

main {
    background: linear-gradient(rgb(167, 122, 41), rgb(255, 174, 0));
    padding: 2%;
    color: #ffffff;

}